<div class="navbar" role="navigation" style="background-color: rgb(18, 7, 19) ;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        
      </div>

      <div class="navbar-collapse collapse"></div>
        <ul class="nav navbar-nav">
          <li><a href="/" style="color: #fff;">Home</a></li>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <img src="/static/images/new.jpg">
  </div>